<div class="navbar">
  <div class="title">
    <h2>Instasnake</h2>
  </div>

  <div class="logo-in-right-navbar">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%=image_tag "amour.png"%>
      <%= image_tag "send.png", class: "send-css"%>
    <% end %>
  </div>
</div>












<div class="footer-instasnake">
  <%= link_to root_path, class: "footer-home" do %>
    <%=image_tag "home.png", class: "home-css"%>
  <% end %>
  <%= link_to root_path, class: "footer-add" do %>
    <%=image_tag "add.png", class: "add-css"%>
  <% end %>
  <%= link_to root_path, class: "footer-profil" do %>
    <%=image_tag "profil.png", class: "profil-css"%>
  <% end %>
</div>
